<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/static/js/quest_visualization.js"></script>
<style>
    .nodebox {
        fill: #fff;
        stroke: rgb(70, 70, 70);
        stroke-width: 1px;
    }
    .nodeTitle {
        font: 12px sans-serif ;
        font-weight: 600;
    }
    .nodeEdge {
        font: 10px sans-serif ;
        font-style: italic;
    }
    .nodePlayer {
        font: 10px sans-serif ;
    }
    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 3.5px;
    }
</style>